.paragraph-margin {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

.splash-container {
    color: black;

}

.advance-title {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 14px;
}


.advanced-content {
    justify-content: center !important;
    align-content: center !important;
    text-align: center !important;
}
