.paragraph-margin {
    width: 400px;
    text-align: center;
    display: flex;
    color: white;

}

.load-logo {
    margin-bottom: 1px !important ;
}

.splash-container {
    color: black;

}

.advance-title {
    font-size: 28px;
    font-weight: bolder;
}


.advanced-content {
    justify-content: center !important;
    align-content: center !important;
    text-align: center !important;
}

.advance-back {
    margin-right: auto;
    display: block;
    margin-left: 120px;
}
