<div class="splash-container not-selectable">



    <div class="content">
        <img src="assets/city-hub/logo-black.png" class="load-logo">
    </div>
    <div class="advanced-content">
    <p class="advance-title">Advanced Tools</p>
    <br>
    <p class="paragraph-margin">If you have problems with Divergenti Core, we have these tools to help investigate and fix potential issues that might occur.</p>

    <p>
        <button class="cancel-button" mat-stroked-button *ngIf="!appState.isSimpleMode" (click)="openDataFolder()">OPEN FOLDER WALLET</button> &nbsp;
        <br><br>
        <button  class="cancel-button" mat-stroked-button (click)="updateService.checkForUpdate()" [disabled]="updateService.downloading">CHECK FOR UPDATE</button> &nbsp;
        <button class="cancel-button" mat-stroked-button *ngIf="updateService.available" [disabled]="updateService.downloading" (click)="updateService.downloadUpdate()">Download Update</button> &nbsp;
        <button class="cancel-button" mat-stroked-button *ngIf="updateService.downloaded" (click)="updateService.installUpdate()">Install Update</button>


    </p>

    <div class="advance-back">
        <button  mat-button routerLink="/login">
            <mat-icon mat-list-icon>arrow_back_ios</mat-icon>
            GO BACK</button>
    </div>
    </div>


</div>
