<div class="content">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="20px grid" fxLayoutGap.xs="0px grid" fxLayoutGap.sm="0px grid">
        <div fxFlex>
            <mat-card class="dashboard-card-balance">
                <mat-icon class="dashboard-info-icon" [matTooltip]="walletInfo">info</mat-icon>
                <mat-card-title>Balance</mat-card-title>
                <mat-card-subtitle>The balance of: {{wallet.walletName}}</mat-card-subtitle>
                <mat-card-content>
                    <p>
                        <strong>{{ (wallet.confirmedBalance | coinNotation| number: '1.0-8': this.localeService.locale) || (0 | coinNotation) }}</strong>
                        <small class="text-uppercase"> {{ wallet.coinUnit }}</small>
                    </p>
                    <ul *ngIf="wallet.unconfirmedBalance">
                        <li>
                            <strong>{{ (wallet.unconfirmedBalance | coinNotation | number: '1.0-8': this.localeService.locale) || (0 | coinNotation) }}</strong>
                            <em> (unconfirmed)</em>
                        </li>
                    </ul>

                    <p>
                        <button class="cancel-button" mat-stroked-button color="primary" routerLink="/wallet/send">SEND</button>&nbsp;
                        <button class="unlock-button" mat-stroked-button color="primary" routerLink="/wallet/receive">RECEIVE</button>&nbsp;
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card class="dashboard-card-know-us">
                <mat-card-content>
                    <div>
                        <img src="assets/divergenti-core/diver-frase.png" class="card-letter">
                    </div>
                    <div class="card-logo">
                        <img src="assets/divergenti-core/analiza.png" class="card-logo">
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class="content">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="20px grid" fxLayoutGap.xs="0px grid" fxLayoutGap.sm="0px grid">
        <div fxFlex>
            <mat-card  class="internal-cards">
                <mat-card-title>Conecta</mat-card-title>
                <br>
                <mat-card-content>
                    <p>Divergenti es una nuevo camino. Después de tu autodiagnostico gratis podrás conocer cuales son los mejores talentos digitales que te llevarán a la transformación digital rápida y económica que necesitas.</p>
                    <br>

                </mat-card-content>
                <button class="cancel-button" mat-stroked-button color="primary" onclick="window.open('https://www.divergenti.cl/')">CONOCE MÁS</button>&nbsp;


            </mat-card>
        </div>
        <div fxFlex>
            <mat-card  class="internal-cards">
                <mat-card-title>Comunidad</mat-card-title>
                <br>
                <mat-card-content>
                    <p>Todos podemos ser Divergentis. Podrás ser parte de una comunidad libre y flexible que facilita la transformación digital de las Pymes haciendo MATCH cuando quieras y desde donde quieras con la mayor flexibilidad de tiempo.</p>
                    <br>
                    <br>
                </mat-card-content>
                <button class="cancel-button" mat-stroked-button color="primary" onclick="window.open('https://www.divergenti.cl/comunidad')">SÚMATE</button>&nbsp;
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card  class="internal-cards">
                <mat-card-title>Descentralizados</mat-card-title>
                <br>
                <mat-card-content>
                    <p>La esencia de Divergenti es construir y facilitar el abundante conocimiento para crear comunidades prósperas.</p>
                    <br>
                    <br>
                    <br>

                </mat-card-content>
                <button class="cancel-button" mat-stroked-button color="primary" onclick="window.open('https://github.com/Divergenti')">EN GITHUB</button>&nbsp;
                <button class="cancel-button" mat-stroked-button color="primary" onclick="window.open('https://discord.com/invite/c7xkRvBsGz')">EN DISCORD</button>&nbsp;
            </mat-card>
        </div>
    </div>
</div>
