<div class="content">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="20px grid" fxLayoutGap.xs="0px grid" fxLayoutGap.sm="0px grid">
        <div fxFlex>
            <mat-card class="dashboard-card-balance">
                <mat-icon class="dashboard-info-icon" [matTooltip]="walletInfo">info</mat-icon>
                <mat-card-title>Balance</mat-card-title>
                <mat-card-subtitle>The balance of: {{wallet.walletName}}</mat-card-subtitle>
                <mat-card-content>
                    <p>
                        <strong>{{ (wallet.confirmedBalance | coinNotation| number: '1.0-8': this.globalService.locale) || (0 | coinNotation) }}</strong>
                        <small class="text-uppercase"> {{ wallet.coinUnit }}</small>
                    </p>
                    <ul *ngIf="wallet.unconfirmedBalance">
                        <li>
                            <strong>{{ (wallet.unconfirmedBalance | coinNotation | number: '1.0-8': this.globalService.locale) || (0 | coinNotation) }}</strong>
                            <em> (unconfirmed)</em>
                        </li>
                    </ul>

                    <p>
                        <button class="cancel-button" mat-stroked-button color="primary" routerLink="/wallet/send">SEND</button>&nbsp;
                        <button class="unlock-button" mat-stroked-button color="primary" routerLink="/wallet/receive">RECEIVE</button>&nbsp;
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card class="dashboard-card-know-us">
                <mat-card-content>
                    <div>
                        <img src="assets/city-hub/diver-frase.png" class="card-letter">
                    </div>
                    <div class="card-logo">
                        <img src="assets/city-hub/analiza.png" class="card-logo">
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class="content">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="20px grid" fxLayoutGap.xs="0px grid" fxLayoutGap.sm="0px grid">
        <div fxFlex>
            <mat-card  class="internal-cards">
                <mat-card-title>Connect</mat-card-title>
                <br>
                <br>
                <mat-card-content>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <br>
                    <br>
                    <button class="cancel-button" mat-stroked-button color="primary" onclick="window.open('https://www.divergenti.cl/')">GET IN</button>&nbsp;

                </mat-card-content>


            </mat-card>
        </div>
        <div fxFlex>
            <mat-card  class="internal-cards">
                <mat-card-title>Community</mat-card-title>
                <br>
                <br>
                <mat-card-content>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <br>
                    <br>
                    <button class="cancel-button" mat-stroked-button color="primary" onclick="window.open('https://www.divergenti.cl/')">JOIN</button>&nbsp;

                </mat-card-content>


            </mat-card>
        </div>
        <div fxFlex>
            <mat-card  class="internal-cards">
                <mat-card-title>Learn</mat-card-title>
                <br>
                <br>
                <mat-card-content>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <br>
                    <br>
                    <button class="cancel-button" mat-stroked-button color="primary" onclick="window.open('https://www.divergenti.cl/')">SUSCRIBE</button>&nbsp;

                </mat-card-content>


            </mat-card>
        </div>
    </div>
</div>
