.dashboard {

    .cancel-button {
        color: white !important;
    }
    .mat-card-content {
        margin-top: 10px;
        margin-left: 10px;
        justify-content: center;
    }

    .card-logo {
        width: 160px;
        margin-bottom: 80px;
        margin-left: auto !important;
        position: relative;
        margin-right: 30px;
    }

    .card-letter {
        width: 45%;
        position: absolute;
        margin-top: 20px;
    }

    .internal-cards {
        background: white !important;
        color: black
    }



   .history
    {
        width: 80%;

        .history-table
        {
            width: 100%;
        }
    }

    div[fxLayoutAlign] { padding:10px; padding-left: 25px; padding-top:15px;}

    .dashboard-card {
        //height: 100%;
        //margin: 20px;
        min-height: 150px;
        //width: 100%;
    }

    .dashboard-card-balance {
        min-height: 150px;
        background: #8282e9 !important;
    }

    .dashboard-card-know-us {
        max-height: 150px;
        background: black !important;
    }

    .mat-grid-tile .mat-figure
    {
        align-items: flex-start;
    }

    .dashboard-coinmap {
        min-height: 200px;
    }

    .dashboard-info-icon {
        float: right;
        cursor: default;
    }

    .transaction-details-button
    {
        height: 10px;
        margin: 0;
        padding: 0;
    }

    .transaction-details-button .mat-icon
    {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .link {
        cursor: pointer;
    }

    mat-card {
        margin-bottom: 20px;
    }

    .dashboard-split-card {
        display: flex;
        flex-direction: row;
    }

    .dashboard-split-left {
        flex-grow: 2;
        min-width: 230px;
        width: 65%;
    }

    .dashboard-split-right {
       padding-left: 20px;
       flex-grow: 1;
       width: 35%;
       align-self: center;
    }

    .marketprice
    {
        color: green;
    }

    .marketprice-negative
    {
        color: red;
    }

    .marketprice-larger
    {
        font-size: 1.2rem;
    }

    .marketprice-table
    {
        width: 100%;
    }

    @media screen and (max-width: 599px) {
        .dashboard-split-card
        {
            flex-direction: column;
        }

        .dashboard-split-left {
            flex-grow: 2;
            width: 100%;
        }

        .dashboard-split-right {
            flex-grow: 1;
            width: 100%;
            align-self: center;
         }
    }
}
