.account-create
{
    color: black !important;

    .mat-step-header .mat-step-icon {
        background-color:#61ffd6;
        color: black;
    }

    .print-hidden {
        background: #8282e9;
    }

    .create-understand {
        color: black !important;
    }

    .mat-h1 {
        margin-left: 10px;
        margin-top: 10px;
    }


    button
	{
		margin-right: 6px;
	}

	.account-create .mat-progress-spinner
	{
		display: inline-block;
	}

	.spinner-container {
		vertical-align: middle;
		display: inline-block;
	}

	.mnemonic, .mnemonic-print {
		font-size: 1.2rem;
		margin-top: 22px;
		margin-bottom: 22px;
		background-color: white;
		color: black;
		padding: 20px;
		line-height: 40px;
		vertical-align: bottom;
		align-content: center;
	}

	.mnemonic-print {
		color: black;
	}

	.mnemonic-date {
		font-size: 1rem;
		color: black;
		padding: 20px;
	}
}
