.receive
{
    .cancel-button {
        text-align: center;
    }

    .main-receive {
        text-align: center;
    }
    color: black;
    .tab-pane {
        margin: 20px;
    }

    .tab-pane-line {

    }
}
