.receive
{
    color: black;

    .main-receive {
        text-align: center;
    }

    .centered {
        text-align: center  !important;
    }
    .tab-pane {
        margin: 20px;
    }

    .mat-caption {
        padding-left: 30%;
        padding-right: 30%;
    }
    .tab-pane-line {

    }
}
