.app-tools {
    color: black !important;

    .code-block {
        overflow-wrap: break-word;
        display: inline-block;
        width: 100%;
        color: black;
      }

      .mat-tab-label {
          font-weight: bolder;

      }

      .mat-tab-label-active {
          background-color: transparent;
      }

      .resync-button {
          background-color: #8282e9;
      }
}
