.load {

    .splash-container {
        background-image: url('../../../assets/divergenti-core/load-background.png');
        background-color: #8282e9 !important;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mat-form-field-infix {
        width: 300px !important;
    }

    .mat-form-field-label {
        /*change color of label*/
        color: black !important;
    }

    .mat-raised-button.mat-primary {
        background-color: black !important;
        width: 280px;
    }

    .load-text
    {
        margin-top: 20px;
        text-align: center;
    }

    .load-logo {
        width: 160px;
        margin-bottom: 80px;
    }
}

.custom-file-mode {
    width: 186px;
}
