@import '~@angular/material/theming';

.wallet
{

    .mat-paginator-container {
        background-color: black;;
    }

    .mat-table {
        background-color: white !important;
        color: black !important;
    }

    .mat-cell {
        color: black;
    }

    .mat-tab-link {
        font-weight: bolder !important;
    }


    .mat-tab-nav-bar {
        background-color: white !important;
        color: black !important;
    }

    color: black !important;

    div[fxLayoutAlign] { padding:10px; padding-left: 25px; padding-top:15px;}

    .dashboard-card-balance {
        min-height: 150px;
        background: #8282e9 !important;
    }

    .mat-form-field-outline {
        color: black !important;
    }

    .cancel-button {
        color: white !important;
    }

     .dashboard-card {
        min-height: 150px;
    }

    .mat-card {
        margin-bottom: 20px;
    }

    .wallet-input {
        border-color: black !important;
        color: black !important;
    }

    .dashboard-split-card {
        display: flex;
        flex-direction: row;

    }

    .mat-expansion-panel-header-title {
        color: black !important;
    }

    .mat-form-field-label {
        /*change color of label*/
        color: black !important;
    }

    .internal-cards {
        background: white !important;
        color: black;
    }

    .mat-expansion-panel {
        background: white;
        color: black !important;
    }

    .mat-panel-description {
        color: black !important;
    }

    @media screen and (max-width: 599px) {
        .dashboard-split-card
        {
            flex-direction: column;
        }

        .dashboard-split-left {
            flex-grow: 2;
            width: 100%;
        }

        .dashboard-split-right {
            flex-grow: 1;
            width: 100%;
            align-self: center;
         }
    }


    .break-everything {
        clear: both;
    }



    .link {
        cursor: pointer;
    }

    .wallet-no-transactions {
        text-align: center;
        margin-top: 20px;
    }

    .wallet-transactions-table {
        width: 100%;

        .unconfirmed {
            font-style: italic;
            color: rgba($color: silver, $alpha: 0.75)
        }
    }

    .wallet-confirmed-icon {
        font-size: 14px;
    }

    .wallet-split-card {
        display: flex;
        flex-direction: row;
    }

    .wallet-split-left {
        flex-grow: 2;
        min-width: 230px;
        width: 65%;
    }

    .wallet-split-right {
       flex-grow: 1;
       margin-top: 5px;
       width: 65%;
       align-self: center;
       text-align: justify;
    }

    .wallet-info-icon {
        float: right;
        cursor: default;
    }

    @media screen and (max-width: 599px) {
        .wallet-split-card
        {
            flex-direction: column;
        }

        .wallet-split-left {
            flex-grow: 2;
            width: 100%;
        }

        .wallet-split-right {
            flex-grow: 1;
            width: 100%;
            align-self: center;
         }
    }
}
