<div class="login-container not-selectable">

    <div class="login-banner">
        <div class="login-banner-content">
            <img src="assets/city-hub/logo-white.png" class="login-logo">
            <img src="assets/city-hub/elcaminodigital.png" class="login-logotype">
            <p class="login-banner-text">Release {{appState.version}}<br>
                Network: Divergenti Main<br>
                Mode: {{appState.mode}}<br>
                <span *ngIf="status">
                    Connections: {{status?.inboundPeers.length + status?.outboundPeers.length}}
                </span>
                <br>
                <a>All rights reserved</a>
            </p>
        </div>
    </div>

    <div class="login-content">
        <img src="assets/city-hub/esperando.png" class="login-welcome">
            <br>
            <br>
        <div class="login-accounts" *ngIf="hasWallet">

            <mat-form-field>
                <mat-select placeholder="Select wallet" [(ngModel)]="selectedAccount">
                    <mat-option *ngFor="let account of accounts" [value]="account">
                        {{account.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <span *ngIf="selectedAccount != null">
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Wallet password</mat-label>
                    <input matInput type="password" (keyup.enter)="unlock()" [(ngModel)]="password" placeholder="Fill out to unlock wallet">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>This is your personal password, not the 12-word phrase. Make sure you use a password you can remember, nobody else have your password and nobody can help you recover it.</mat-hint> -->
                </mat-form-field>
                <br>
                <button class="cancel-button" (click)="cancel()" mat-raised-button>CREATE</button>
                <button class="unlock-button" (click)="unlock()" [disabled]="unlocking" mat-raised-button color="primary">UNLOCK</button>&nbsp;

                <br>
                <!-- <mat-progress-bar *ngIf="unlocking && appState.isSimpleMode" mode="determinate" [value]="unlockPercentage"></mat-progress-bar>
                <mat-spinner *ngIf="unlocking && appState.isSimpleMode"></mat-spinner> -->
                <br>
                <div *ngIf="invalidPassword">The password is not correct.</div>
            </span>

            <span *ngIf="errorMessage">
                <br>
                {{errorMessage}}
            </span>

            <mat-divider *ngIf="selectedAccount == null"></mat-divider>
        </div>

        <div class="login-actions" *ngIf="selectedAccount == null">
            <div>
                <button class="cancel-button" routerLink="/account/create" mat-stroked-button >CREATE</button> or
                <button class="unlock-button" routerLink="/account/recover" mat-stroked-button color="primary">RESTORE</button>
                your account
            </div>
        </div>
        <div class="login-mode">
             <button mat-button routerLink="/advanced">
                <mat-icon mat-list-icon>settings</mat-icon>
                Advanced
            </button>
        </div>
    </div>
</div>
