@import '../palettes/dark-gray.palette';

$app-dark-theme-background: (
    status-bar: black,
    app-bar:    map_get($app-light-gray, 50),
    background: white,
    hover:      rgba(white, 0.04),
    card:       map_get($app-light-gray, 50),
    card-2:     map_get($app-light-gray, 50),
    card-3:     map_get($app-light-gray, 50),
    dialog:     map_get($app-light-gray, 50),
    disabled-button: rgba(white, 0.12),
    raised-button: map-get($app-light-gray, 50),
    focused-button: #61ffd6,
    selected-button: map_get($app-light-gray, 50),
    selected-disabled-button: map_get($app-light-gray, 50),
    disabled-button-toggle: black,
    unselected-chip: map_get($app-light-gray, 50),
    disabled-list-option: black,
);
$mat-dark-theme-background: map-merge($mat-dark-theme-background, $app-dark-theme-background);
