$app-dark-theme-foreground: (
    base:              black,
    divider:           $light-dividers,
    dividers:          $light-dividers,
    disabled:          $light-disabled-text,
    disabled-button:   rgba(black, 0.3),
    disabled-text:     $light-disabled-text,
    hint-text:         $light-disabled-text,
    secondary-text:    $light-secondary-text,
    icon:              black,
    icons:             black,
    text:              black,
    slider-min:        black,
    slider-off:        rgba(black, 0.3),
    slider-off-active: rgba(black, 0.3),
);
$mat-dark-theme-foreground: map-merge($mat-dark-theme-foreground, $app-dark-theme-foreground);
